/* Carousel.css */

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.image-container {
  display: flex;
  width: 200%;
}

.image-container.animating {
  animation: slide linear infinite; /* La durée est définie dynamiquement via le style inline */
}

.image-wrapper {
  flex: 0 0 20%;
}

.image {
  width: 200px;
  height: 200px;
}
