<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}

    {% endblock %}</title>
</head>
<body>
    <div class="navbar">
        <a href="{% url 'home' %}" class="navbar-brand">Home</a>
        <a href="{% url 'polls:index' %}" class="navbar-item">Questions</a>
        <a href="{% url 'accounts:index' %}" class="navbar-item">Accounts</a>
        <a href="{% url 'polls:choice' %}" class="navbar-item">Choices</a>
        <div>
            {{ user.get_username }}
                <img src="{{ user.profile.get_image }}" alt="Profile picture">
            <form action="{% url 'accounts:logout' %}" id="logout" method="POST">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
    {% if user.is_authenticated %}
    {% endif %}

    <div class="body-content">
        {% block content %}

        {% endblock %}
        <footer style="position: absolute; bottom: 0; width: 100%">
            <hr/>
            <p>ESEO - Campus Vélizy &copy; 2024</p>
        </footer>
    </div>
</body>
</html>